.row
	.three.columns
		%a{:href => '/roasts/new', :class => 'button', :id => 'add'} Add a roast
%br
.row
	- if @roasts.any?
		- @roasts.all.each do |roast|
			.row
				.three.columns
					%li= link_to roast.name, roast_path(roast)
	- else
		%h1 No roasts yet!
